@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@mixin respond($breakpoint) {
  @if ($breakpoint == phone) {
    // 0-600px
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if ($breakpoint == tab-port) {
    // 600px-900px
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }
  @if ($breakpoint == tab-land) {
    // 900px-1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  @if ($breakpoint == big-desk) {
    // 1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}

:root {
  --border-radius: 1rem;
  --white: #faf8ff;
  --black: #2c2c2c;
  --grey: #e0e0e0;
  --accent-color: #287c7c;
  --shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

@mixin closeBtn($svgSize) {
  position: absolute;
  top: 0;
  right: 0;
  fill: var(--black);

  svg {
    height: $svgSize;
    width: $svgSize;
  }
}

@mixin mainButton {
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: var(--border-radius);
  border: none;
  fill: var(--white);
  background: var(--accent-color);
  color: var(--white);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 10px

  @include respond(tab-land) {
    font-size: 50%; // 8px
  }

  @include respond(tab-port) {
    font-size: 37.5%; // 6px
  }

  @include respond(big-desk) {
    font-size: 75%; // 12px
  }
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--white);
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

svg {
  pointer-events: none;
  display: block;
  height: 2.5rem;
  width: 4rem;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input[type='text'] {
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: var(--border-radius);
  color: var(--black);
  background: var(--white);
  border-bottom: 2px solid var(--black);
  transition: border 100ms ease;

  &:focus {
    border: 2px solid var(--white);
    border-bottom: 2px solid var(--accent-color);
    outline: none;
  }
}

.colors {
  min-height: 80vh;
  display: flex;

  @include respond(tab-port) {
    flex-direction: column;
  }
}

.color {
  height: 80vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;

  &__header {
    font-size: 3rem;
    cursor: pointer;
  }

  &__controls {
    display: flex;
    flex-direction: column;
    align-items: space-between;
  }

  &__button {
    fill: var(--black);

    &:first-child {
      margin-bottom: 4rem;
    }

    &--close {
      @include closeBtn(1.5rem);
    }
  }

  &__sliders {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0%;
    background: var(--grey);
    padding: 1rem;
    width: 80%;
    border-radius: var(--border-radius) 0 var(--border-radius) var(--border-radius);
    opacity: 0;
    transform: translateY(100%);
    pointer-events: none;
    transition: all 0.5s ease-in-out;

    &.active {
      opacity: 1;
      transform: translateY(0px);
      pointer-events: all;
    }

    label {
      font-size: 1.4rem;
      &:not(:first-of-type) {
        margin-top: 1rem;
      }
    }

    input[type='range'] {
      appearance: none;
      margin-top: 1rem;
      border-radius: var(--border-radius);
      cursor: pointer;
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 1rem;
        height: 1.5rem;
        border: 2px solid var(--black);
        background: var(--white);
        cursor: pointer;
        border-radius: var(--border-radius);
      }
    }
  }
}

.panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 20vh;

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__button {
    @include mainButton;
    margin: 1rem;
  }

  &__text {
    font-size: 1.6rem;
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.7s ease-in-out;

  .popup {
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--border-radius);
    transition: transform 0.5s ease;
    transform: translateY(-2rem);
    padding: 6rem 8rem;
    box-shadow: var(--shadow);
    position: relative;

    h2 {
      & ~ * {
        margin-top: 3rem;
      }
    }

    &__close {
      @include closeBtn(2.5rem);
    }

    &__input {
      width: 100%;
    }

    &__save {
      @include mainButton;
      font-size: 1.6rem;
    }

    &__select {
      @include mainButton;
    }

    &__palettes {
      height: 25rem;
      overflow: scroll;
    }

    &__palette {
      display: flex;
      min-width: 50rem;
      &:not(:first-of-type) {
        margin-top: 3rem;
      }

      h3 {
        align-self: center;
        margin-right: auto;
      }

      .custom-palette {
        display: flex;
        margin-right: 3rem;

        &__color {
          width: 5rem;
          height: 5rem;
        }
      }
    }
  }

  &.active {
    opacity: 1;
    pointer-events: all;

    .popup {
      transform: translateY(0);
    }
  }
}
