:root {
  --border-radius: 1rem;
  --white: #faf8ff;
  --black: #2c2c2c;
  --grey: #e0e0e0;
  --accent-color: #338e90;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--white);
}

svg {
  pointer-events: none;
  display: block;
  height: 2.5rem;
  width: 4rem;
}

.colors {
  min-height: 80vh;
  display: flex;
}

.color {
  height: 80vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;

  &__header {
    font-size: 3rem;
    cursor: pointer;
  }

  &__controls {
    display: flex;
    flex-direction: column;
    align-items: space-between;
  }

  &__button {
    border: none;
    background: none;
    cursor: pointer;
    fill: var(--black);

    &:first-child {
      margin-bottom: 4rem;
    }

    &--close {
      position: absolute;
      top: 0;
      right: -1rem;
      fill: var(--accent-color);
    }
  }

  &__sliders {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0%;
    background: var(--grey);
    padding: 1rem;
    width: 80%;
    border-radius: var(--border-radius) 0 var(--border-radius)
      var(--border-radius);
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
    pointer-events: none;

    &.active {
      opacity: 1;
      transform: translateY(0px);
      pointer-events: all;
    }
  }
}

.panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 20vh;

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__button {
    margin: 1rem;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: var(--border-radius);
    border: none;
    fill: var(--white);
    background: var(--accent-color);
  }

  &__text {
    font-size: 1.6rem;
  }
}
